
/* .header {
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #1a2a6c);
} */
/* @keyframes animate{
    0%{
        background-image: url('../../Assets/project1/Capture.PNG');
    }
    20%{
        background-image: url('../../Assets/project1/Capture2.PNG');
    }
    40%{
        background-image: url('../../Assets/project1/project1-1.PNG');
    }
    60%{
        background-image: url('../../Assets/project1/project1-2.PNG');
    } 
    80%{
        background-image: url('../../Assets/project1/project1.PNG');
    }
    100%{
        background-image: url('../../Assets/project1/Capture.PNG');
    } 
} */

/* @keyframes animate2{
    0%{
        background-image: url('../../Assets/project1/Capture.PNG');
    }
    20%{
        background-image: url('../../Assets/project1/Capture2.PNG');
    }
    40%{
        background-image: url('../../Assets/project1/project1-1.PNG');
    }
    60%{
        background-image: url('../../Assets/project1/project1-2.PNG');
    } 
    80%{
        background-image: url('../../Assets/project1/project1.PNG');
    }
    100%{
        background-image: url('../../Assets/project1/Capture.PNG');
    } 
} */
